<h1>Stupid Coaching</h1>
<div class="aw">
  <p><%= @question %></p>
  <p>-You</p>
</div>
    <br>
<div class="aw">
  <p><%= @answer %></p>
  <p>-Your coach</p>
</div>
<br>
<%= link_to 'Ask another question','/ask' %>
